body {
  font-family: sans-serif;
}

ul {
  list-style-type: none;	
}

.label {
  cursor: pointer;	
}

.label:hover {
  background-color: lightgrey;	
}

.chosenconcept {
  background-color: silver;
}

.notation {
  color: silver;	
}

.waitingforcount {
  display: none;	
}

.count {
  display: inline;	
}

#deweyheading {
  text-align: center;	
}

#cover {
  float: right;
  clear: both;	
}