body {
  font-family: sans-serif;
}

ul {
  list-style-type: none;	
}

.label {
  cursor: pointer;	
}

.notation {
  color: silver;	
}

.waitingforcount {
  display: none;	
}

.count {
  display: inline;	
}